<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>

<%= form_with(url: movies_path, method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :release_year_filter, 'Filter by release year' %>
    <%= form.text_field :release_year_filter, value: params[:release_year_filter], class: 'form-control' %>
  </div>
  <%= form.submit 'Apply Filter', class: 'btn btn-default' %>
<% end %>


<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
